.DS_Store
node_modules
dist
Thumbs.db
deploy.sh

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
