@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

* {
    transition: all 0.3s ease;
}

/* basic styles */
body,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira sans', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
h1 {
    font-size: 2.5rem;
}
pre {
    font-family: 'Fira Mono', monospace;
}

/* app container */
.container {
    position: relative;
    min-height: 100vh;
}

/* app header */
.title-bar {
    width: 100%;
    height: 4rem;
    line-height: 3rem;
}
.title-bar.shrink {
    height: 3rem;
    line-height: 2rem;
}

/* app footer */
.container > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* section header */
section > header {
    background: #444;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}
section > header > h1,
section > header > p {
    margin: 0;
}

/* font awesome */
.fa-rm {
    margin-right: .5em;
}