<!DOCTYPE html>
<html>
<head>
    <title>SongDrive</title>
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Vue -->
    <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.3/vue-router.min.js"></script>
    <!-- VueFire, Firebase -->
    <script type="text/javascript" src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <!-- Foundation: Sticky  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.core.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.sticky.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.util.triggers.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.util.mediaQuery.js"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- App Styles -->
    <link rel="stylesheet" type="text/css" href="src/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="src/app.css">
</head>
<body>

<!-- container -->
<div class="container" id="app">
    <!-- app header -->
    <header data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;">
            <div class="title-bar-left"><router-link :to="{name: 'home'}">SongDrive</router-link></div>
            <div class="title-bar-right">
                <router-link :to="{name: 'home'}">Songs</router-link>
                <router-link :to="{name: 'setlists'}">Setlists</router-link>
            </div>
        </div>
    </header>
    <!-- app content -->
    <router-view></router-view>
    <!-- app footer -->
    <footer>
        <p>&copy; 2016 <a href="http://devmount.de">devmount</a></p>
    </footer>
</div>

<!-- song list -->
<template id="song-list">
    <section>
        <header>
            <h1>Songs</h1>
        </header>
        <div class="row medium-collapse small-collapse search">
            <div class="small-12 columns">
                <input type="search" v-model="searchKey" placeholder="search for song titles" requred />
            </div>
        </div>
        <div class="row">
            <table class="hover">
                <thead>
                    <tr>
                        <th width="200">Title</th>
                        <th width="200">Subtitle</th>
                        <th class="show-for-large">Text</th>
                        <th class="show-for-medium">Year</th>
                        <th class="show-for-medium">Tuning</th>
                        <th width="225"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="song in filteredSongs" class="song" :key="song['.key']">
                        <td>{{song.title}}</td>
                        <td>{{song.subtitle}}</td>
                        <td class="show-for-large">{{song.textauthors}}</td>
                        <td class="show-for-medium" >{{song.year}}</td>
                        <td class="show-for-medium" >{{song.tuning}}</td>
                        <td>
                            <router-link class="hollow button" :to="{name: 'show-song', params: {song_id: song['.key']}}">
                                <i class="fa fa-eye fa-fw show-for-small-only" aria-hidden="true"></i>
                                <span class="show-for-medium">Show</span>
                            </router-link>
                            <router-link class="button" :to="{name: 'edit-song', params: {song_id: song['.key']}}">
                                <i class="fa fa-pencil fa-fw show-for-small-only" aria-hidden="true"></i>
                                <span class="show-for-medium">Edit</span>
                            </router-link>
                            <router-link class="alert button" :to="{name: 'delete-song', params: {song_id: song['.key']}}">
                                <i class="fa fa-trash-o fa-fw show-for-small-only" aria-hidden="true"></i>
                                <span class="show-for-medium">Delete</span>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
             <router-link class="small button" :to="{path: '/song/add'}" title="New Song"><i class="fa fa-plus" aria-hidden="true"></i></router-link>
        </footer>
    </section>
</template>

<!-- show a song -->
<template id="show-song">
    <section>
        <header>
            <h1>{{song.title}}</h1>
            <p>{{song.subtitle}}</p>
        </header>
        <div class="row">
            <div class="columns">
                <pre>{{song.content}}</pre>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="columns">
                <p v-if="song.tuning">Tuning: {{song.tuning}}</p>
                <p v-if="song.textauthors">Text: {{song.textauthors}}<span v-if="song.musicauthors">, Music: {{song.musicauthors}}</span></p>
                <p v-if="song.ccli">CCLI Song number: <a :href="'https://songselect.ccli.com/Songs/' + song.ccli" target="_blank">{{song.ccli}}</a></p>
                <p>&copy; {{song.year}} {{song.publisher}}</p>
            </div>
        </div>
        <footer>
            <router-link class="small hollow button" :to="{path: '/'}">Back</router-link>
        </footer>
    </section>
</template>

<!-- add a song -->
<template id="add-song">
    <section>
        <header>
            <h1>New song</h1>
        </header>
        <form id="form" v-on:submit.prevent="createSong">
            <div class="row align-stretch">
                <div class="medium-6 columns">
                    <label>Title
                        <input type="text" v-model="song.title" placeholder="title">
                    </label>
                    <label>Subtitle
                        <input type="text" v-model="song.subtitle" placeholder="subtitle">
                    </label>
                    <label>Text authors
                        <input type="text" v-model="song.textauthors" placeholder="text authors">
                    </label>
                    <label>Music authors
                        <input type="text" v-model="song.musicauthors" placeholder="music authors">
                    </label>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Year
                                <input type="number" v-model="song.year" placeholder="year">
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>CCLI
                                <input type="number" v-model="song.ccli" placeholder="CCLI song number">
                            </label>
                        </div>
                    </div>
                    <label>Tuning
                        <input type="text" v-model="song.tuning" placeholder="tuning">
                    </label>
                    <label>publisher
                        <textarea v-model="song.publisher" placeholder="publisher" rows="2"></textarea>
                    </label>
                </div>
                <div class="medium-6 columns content-column">
                    <label>Content
                        <textarea v-model="song.content" placeholder="content"></textarea>
                    </label>
                </div>
            </div>
            <footer>
                <router-link class="small hollow button" :to="{path: '/'}">Cancel</router-link>
                <input type="submit" value="Create" class="small button">
            </footer>
        </form>
    </section>
</template>

<!-- edit a song -->
<template id="edit-song">
    <section>
        <header>
            <h1>Edit &raquo;{{song.title}}&laquo;</h1>
        </header>
        <form id="form" v-on:submit.prevent="updateSong">
            <div class="row align-stretch">
                <div class="medium-6 columns">
                    <label>Title
                        <input type="text" v-model="song.title" placeholder="title">
                    </label>
                    <label>Subtitle
                        <input type="text" v-model="song.subtitle" placeholder="subtitle">
                    </label>
                    <label>Text authors
                        <input type="text" v-model="song.textauthors" placeholder="text authors">
                    </label>
                    <label>Music authors
                        <input type="text" v-model="song.musicauthors" placeholder="music authors">
                    </label>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Year
                                <input type="number" v-model="song.year" placeholder="year">
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>CCLI
                                <input type="number" v-model="song.ccli" placeholder="CCLI song number">
                            </label>
                        </div>
                    </div>
                    <label>Tuning
                        <input type="text" v-model="song.tuning" placeholder="tuning">
                    </label>
                    <label>publisher
                        <textarea v-model="song.publisher" placeholder="publisher" rows="2"></textarea>
                    </label>
                </div>
                <div class="medium-6 columns content-column">
                    <label>Content
                        <textarea v-model="song.content" placeholder="content"></textarea>
                    </label>
                </div>
            </div>
            <footer>
                <router-link class="small hollow button" :to="{path: '/'}">Cancel</router-link>
                <input type="submit" value="Save and back" class="small button">
            </footer>
        </form>
    </section>
</template>

<!-- delete a song -->
<template id="delete-song">
    <section>
        <header>
            <h1>Delete &raquo;{{song.title}}&laquo;</h1>
        </header>
        <div class="row">
            <div class="columns">
                <p>Are you sure you want to delete &raquo;{{song.title}}&laquo;?</p>
                <div class="alert callout">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This action cannot be undone!</p>
                </div>
            </div>
        </div>
        <footer>
            <form v-on:submit="removeSong">
                <router-link class="small hollow button" :to="{path: '/'}">Cancel</router-link>
                <button type="submit" class="small alert button">Delete</button>
            </form>
        </footer>
    </section>
</template>

<!-- setlist list -->
<template id="setlist-list">
    <section>
        <header>
            <h1>Setlists</h1>
        </header>
        <div class="row">
            <table class="hover">
                <thead>
                    <tr>
                        <th width="200">Date</th>
                        <th width="200">Title</th>
                        <th width="225"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="setlist in setlists" :key="setlist['.key']">
                        <td>{{setlist.date}}</td>
                        <td>{{setlist.title}}</td>
                        <td>
                            <router-link class="hollow button" :to="{name: 'show-setlist', params: {setlist_id: setlist['.key']}}">
                                <i class="fa fa-eye fa-fw show-for-small-only" aria-hidden="true"></i>
                                <span class="show-for-medium">Show</span>
                            </router-link>
                            <router-link class="button" :to="{name: 'edit-setlist', params: {setlist_id: setlist['.key']}}">
                                <i class="fa fa-pencil fa-fw show-for-small-only" aria-hidden="true"></i>
                                <span class="show-for-medium">Edit</span>
                            </router-link>
                            <router-link class="alert button" :to="{name: 'delete-setlist', params: {setlist_id: setlist['.key']}}">
                                <i class="fa fa-trash-o fa-fw show-for-small-only" aria-hidden="true"></i>
                                <span class="show-for-medium">Delete</span>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
             <router-link class="small button" :to="{path: '/setlist/add'}" title="New Setlist"><i class="fa fa-plus" aria-hidden="true"></i></router-link>
        </footer>
    </section>
</template>

<!-- show a setlist -->
<template id="show-setlist">
    <section>
        <header>
            <h1>{{setlist.title}}</h1>
            <p>{{setlist.date}}</p>
        </header>
        <div class="row">
            <div class="columns">
                {{setlist.songs}}
            </div>
        </div>
        <footer>
            <router-link class="small hollow button" :to="{path: '/setlists'}">Back</router-link>
        </footer>
    </section>
</template>

<!-- add a setlist -->
<template id="add-setlist">
    <section>
        <header>
            <h1>New Setlist</h1>
        </header>
        <form id="form" v-on:submit.prevent="createSetlist">
            <div class="row">
                <div class="medium-6 columns">
                    <label>Date
                        <input type="text" v-model="setlist.date" placeholder="YYYY-MM-DD">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Title
                        <input type="text" v-model="setlist.title" placeholder="title">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label>Songs
                        <input type="text" v-model="setlist.songs" placeholder="songs">
                    </label>
                </div>
            </div>
            <footer>
                <router-link class="small hollow button" :to="{path: '/setlists'}">Cancel</router-link>
                <input type="submit" value="Create" class="small button">
            </footer>
        </form>
    </section>
</template>

<!-- edit a setlist -->
<template id="edit-setlist">
    <section>
        <header>
            <h1>Edit &raquo;{{setlist.title}}&laquo;</h1>
        </header>
        <form id="form" v-on:submit.prevent="updateSetlist">
            <div class="row">
                <div class="medium-6 columns">
                    <label>Date
                        <input type="text" v-model="setlist.date" placeholder="YYYY-MM-DD">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Title
                        <input type="text" v-model="setlist.title" placeholder="title">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label>Songs
                        <input type="text" v-model="setlist.songs" placeholder="songs">
                    </label>
                </div>
            </div>
            <footer>
                <router-link class="small hollow button" :to="{path: '/setlists'}">Cancel</router-link>
                <input type="submit" value="Save and back" class="small button">
            </footer>
        </form>
    </section>
</template>

<!-- delete a setlist -->
<template id="delete-setlist">
    <section>
        <header>
            <h1>Delete &raquo;{{setlist.title}}&laquo;</h1>
        </header>
        <div class="row">
            <div class="columns">
                <p>Are you sure you want to delete &raquo;{{setlist.title}}&laquo;?</p>
                <div class="alert callout">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This action cannot be undone!</p>
                </div>
            </div>
        </div>
        <footer>
            <form v-on:submit="removeSetlist">
                <router-link class="small hollow button" :to="{path: '/setlists'}">Cancel</router-link>
                <button type="submit" class="small alert button">Delete</button>
            </form>
        </footer>
    </section>
</template>


<script type="text/javascript" src="src/config.js"></script>
<script type="text/javascript" src="src/app.js"></script>

<script>
// init sticky title bar
$(document).foundation();
$('.title-bar').on('sticky.zf.stuckto:top', function(){
    $(this).addClass('shrink');
}).on('sticky.zf.unstuckfrom:top', function(){
    $(this).removeClass('shrink');
});
</script>

</body>
</html>