<!DOCTYPE html>
<html>
<head>
    <title>SongDrive</title>
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ns-autogrow/1.1.6/jquery.ns-autogrow.min.js"></script>
    <!-- Vue -->
    <script type="text/javascript" src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.3/vue-router.min.js"></script>
    <!-- VueFire, Firebase -->
    <script type="text/javascript" src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <!-- Foundation: Sticky  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.core.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.sticky.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.util.triggers.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.util.mediaQuery.js"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Tag-it -->
    <script src="http://aehlke.github.io/tag-it/js/tag-it.js"></script>
    <!-- App Styles -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>

<!-- container -->
<div class="container" id="app">
    <!-- app header -->
    <header data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;">
            <div class="title-bar-left"><router-link :to="{name: 'home'}">SongDrive</router-link></div>
            <div class="title-bar-right">
                <router-link :to="{name: 'home'}">Songs</router-link>
                <router-link :to="{name: 'setlists'}">Setlists</router-link>
            </div>
        </div>
    </header>
    <!-- app content -->
    <router-view></router-view>
    <!-- app footer -->
    <footer>
        <p>&copy; 2016 <a href="http://devmount.de">devmount</a></p>
    </footer>
</div>

<!-- song list -->
<template id="song-list">
    <section>
        <header>
            <h1>Songs</h1>
        </header>
        <div class="row medium-collapse search">
            <div class="small-12 columns">
                <input type="search" v-model="searchKey" placeholder="search for song titles" requred />
            </div>
        </div>
        <div class="row">
            <div class="actions">
                <router-link class="button" :to="{path: '/add-song'}"><i class="fa fa-plus fa-rm" aria-hidden="true"></i> Song</router-link>
            </div>
        </div>
        <div class="row">
            <table class="hover">
                <thead>
                    <tr>
                        <th width="200">Title</th>
                        <th width="200">Subtitle</th>
                        <th class="show-for-large">Text</th>
                        <th class="show-for-large">Music</th>
                        <th width="80">Year</th>
                        <th width="80">Tuning</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="song in filteredSongs" class="song" :key="song['.key']">
                        <td>{{song.title}}</td>
                        <td>{{song.subtitle}}</td>
                        <td class="show-for-large">{{song.textauthors}}</td>
                        <td class="show-for-large">{{song.musicauthors}}</td>
                        <td>{{song.year}}</td>
                        <td>{{song.tuning}}</td>
                        <td>
                            <router-link class="hollow button" :to="{name: 'show-song', params: {song_id: song['.key']}}">Show</router-link>
                            <router-link class="button" :to="{name: 'edit-song', params: {song_id: song['.key']}}">Edit</router-link>
                            <router-link class="alert button" :to="{name: 'delete-song', params: {song_id: song['.key']}}">Delete</router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</template>

<!-- setlist list -->
<template id="setlist-list">
    <section>
        <header>
            <h1>Setlists</h1>
        </header>
        <div class="row">
            <p>Not implemented yet.</p>
        </div>
    </section>
</template>

<!-- show a song -->
<template id="show-song">
    <section>
        <header>
            <h1>{{song.title}}</h1>
            <p>{{song.subtitle}}</p>
        </header>
        <div class="row">
            <p>Tuning: {{song.tuning}}</p>
            <p>Text: {{song.textauthors}}, Music: {{song.musicauthors}}</p>
            <pre>{{song.content}}</pre>
            <p>&copy; {{song.year}} {{song.publisher}}</p>
            <router-link class="hollow button" :to="{path: '/'}">Back</router-link>
        </div>
    </section>
</template>

<!-- add a song -->
<template id="add-song">
    <section>
        <header>
            <h1>New song</h1>
        </header>
        <form id="form" v-on:submit.prevent="createSong">
            <div class="row">
                <div class="medium-6 columns">
                    <label>Title
                        <input type="text" v-model="song.title" placeholder="title">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Subtitle
                        <input type="text" v-model="song.subtitle" placeholder="subtitle">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Text authors
                        <input type="text" v-model="song.textauthors" placeholder="text authors">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Music authors
                        <input type="text" v-model="song.musicauthors" placeholder="music authors">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Year
                        <input type="number" v-model="song.year" placeholder="year">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Tuning
                        <input type="text" v-model="song.tuning" placeholder="tuning">
                    </label>
                </div>
                <div class="medium-12 columns">
                    <label>publisher
                        <textarea v-model="song.publisher" placeholder="publisher"></textarea>
                    </label>
                </div>
                <div class="medium-12 columns">
                    <label>Content
                        <textarea v-model="song.content" placeholder="content"></textarea>
                    </label>
                </div>
                <div class="medium-12 columns">
                    <input type="submit" value="Create Song" class="button">
                    <router-link class="hollow button" :to="{path: '/'}">Cancel</router-link>
                </div>
            </div>
        </form>
    </section>
</template>

<!-- edit a song -->
<template id="edit-song">
    <section>
        <header>
            <h1>Edit &raquo;{{song.title}}&laquo;</h1>
        </header>
        <form id="form" v-on:submit.prevent="updateSong">
            <div class="row">
                <div class="medium-6 columns">
                    <label>Title
                        <input type="text" v-model="song.title" placeholder="title">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Subtitle
                        <input type="text" v-model="song.subtitle" placeholder="subtitle">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Text authors
                        <input type="text" v-model="song.textauthors" placeholder="text authors">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Music authors
                        <input type="text" v-model="song.musicauthors" placeholder="music authors">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Year
                        <input type="number" v-model="song.year" placeholder="year">
                    </label>
                </div>
                <div class="medium-6 columns">
                    <label>Tuning
                        <input type="text" v-model="song.tuning" placeholder="tuning">
                    </label>
                </div>
                <div class="medium-12 columns">
                    <label>publisher
                        <textarea v-model="song.publisher" placeholder="publisher"></textarea>
                    </label>
                </div>
                <div class="medium-12 columns">
                    <label>Content
                        <textarea v-model="song.content" placeholder="content"></textarea>
                    </label>
                </div>
                <div class="medium-12 columns">
                    <input type="submit" value="Update Song" class="button">
                    <router-link class="hollow button" :to="{path: '/'}">Cancel</router-link>
                </div>
            </div>
        </form>
    </section>
</template>

<!-- delete a song -->
<template id="delete-song">
    <section>
        <header>
            <h1>Delete &raquo;{{song.title}}&laquo;</h1>
        </header>
        <div class="row">
            <div class="alert callout">
                <p>This action cannot be undone.</p>
            </div>
            <form v-on:submit="removeSong">
                <button type="submit" class="alert button">Delete</button>
                <router-link class="hollow button" :to="{path: '/'}">Cancel</router-link>
            </form>
        </div>
    </section>
</template>

<script type="text/javascript" src="config.js"></script>
<script type="text/javascript" src="app.js"></script>

<script>
// init sticky title bar
$(document).foundation();
$('.title-bar').on('sticky.zf.stuckto:top', function(){
    $(this).addClass('shrink');
}).on('sticky.zf.unstuckfrom:top', function(){
    $(this).removeClass('shrink');
});
</script>

</body>
</html>