<!DOCTYPE html>
<html>
<head>
    <title>SongDrive</title>
    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Vue -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.0.3/vue-router.min.js"></script>
    <!-- VueFire, Firebase -->
    <script type="text/javascript" src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <!-- Foundation: Sticky  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.core.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.sticky.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.util.triggers.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/plugins/foundation.util.mediaQuery.js"></script>
    <!-- pdfmake -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.20/pdfmake.min.js"></script>
    <script type="text/javascript" src="src/vfs_fonts.js"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Foundation 6.2.4 Styles -->
    <link rel="stylesheet" type="text/css" href="src/foundation.min.css">
    <!-- App Styles -->
    <link rel="stylesheet" type="text/css" href="src/app.css">
</head>
<body>

<!-- container -->
<div id="app">
    <!-- app content -->
    <router-view></router-view>
</div>

<!-- global partial: app header -->
<template id="app-header">
    <header data-sticky-container>
        <div class="title-bar" data-sticky data-options="marginTop:0;">
            <div class="title-bar-left"><router-link :to="{name: 'home'}">SongDrive</router-link></div>
            <div class="title-bar-right">
                <router-link :to="{name: 'home'}">Songs</router-link>
                <router-link :to="{name: 'setlists'}">Setlists</router-link>
            </div>
        </div>
    </header>
</template>

<!-- global partial: app footer -->
<template id="app-footer">
    <footer>
        <p>&copy; 2016 <a href="http://devmount.de">devmount</a></p>
    </footer>
</template>

<!-- partial: song form fields -->
<template id="song-form-fields">
    <div class="row align-stretch">
        <div class="medium-6 columns">
            <label>Title
                <input type="text" v-model="song.title" placeholder="title" required>
            </label>
            <div class="row">
                <div class="medium-9 columns">
                    <label>Subtitle
                        <input type="text" v-model="song.subtitle" placeholder="subtitle">
                    </label>
                </div>
                <div class="medium-3 columns">
                    <label>Language
                        <select v-model="song.language">
                            <option value="de">de</option>
                            <option value="en">en</option>
                        </select>
                    </label>
                </div>
            </div>
            <label>Authors
                <input type="text" v-model="song.authors" placeholder="authors">
            </label>
            <div class="row">
                <div class="medium-4 columns">
                    <label>Year
                        <input type="number" v-model="song.year" placeholder="year">
                    </label>
                </div>
                <div class="medium-5 columns">
                    <label>CCLI
                        <input type="number" v-model="song.ccli" placeholder="CCLI song number">
                    </label>
                </div>
                <div class="medium-3 columns">
                    <label>Tuning
                        <input type="text" v-model="song.tuning" placeholder="tuning">
                    </label>
                </div>
            </div>
            <label>Publisher
                <textarea v-model="song.publisher" placeholder="publisher" rows="2"></textarea>
            </label>
            <label>Note
                <textarea v-model="song.note" placeholder="Some notes e.g. about capo" rows="2"></textarea>
            </label>
        </div>
        <div class="medium-6 columns content-column">
            <label>Content
                <textarea v-model="song.content" placeholder="A song with chords" rows="33" required></textarea>
            </label>
        </div>
    </div>
</template>

<!-- partial: setlist form fields -->
<template id="setlist-form-fields">
    <div class="container">
        <div class="row">
            <div class="medium-6 columns">
                <label>Title
                    <input type="text" v-model="setlist.title" placeholder="title" required>
                </label>
            </div>
            <div class="medium-6 columns">
                <label>Date
                    <input type="text" v-model="setlist.date" placeholder="YYYY-MM-DD">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <label>All Songs</label>
                <div class="checklist">
                    <label v-for="song in songs" :key="song['.key']" >
                        <input type="checkbox" :value="song['.key']" v-model="setlist.songs">
                        {{ song.title }} <span v-if="song.subtitle" class="list-subtitle">({{ song.subtitle }})</span>
                    </label>
                </div>
            </div>
            <div class="medium-6 columns">
                <label>Selected Songs</label>
                <table v-if="setlist.songs != ''" class="hover">
                    <thead></thead>
                    <tbody>
                        <tr v-for="songkey in setlist.songs">
                            <template v-for="song in songs">
                                <template v-if="song['.key'] == songkey">
                                    <td>
                                        {{ song.title }} <span class="list-subtitle">({{ song.subtitle }})</span>
                                    </td>
                                </template>
                            </template>
                        </tr>
                    </tbody>
                </table>
                <div v-else>No songs selected.</div>
            </div>
        </div>
    </div>
</template>

<!-- song list -->
<template id="song-list">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>{{ filteredSongs.length }} Songs</h1>
            </header>
            <div class="row medium-collapse small-collapse search">
                <div class="small-12 columns">
                    <input type="search" v-model="searchKey" placeholder="search for song titles" requred />
                </div>
            </div>
            <div class="row">
                <table class="hover">
                    <thead>
                        <tr>
                            <th width="200">Title</th>
                            <th width="200">Subtitle</th>
                            <th class="show-for-large">Authors</th>
                            <th class="show-for-medium">Year</th>
                            <th class="show-for-medium">Tuning</th>
                            <th width="300"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="song in filteredSongs" :key="song['.key']">
                            <td>{{ song.title }}</td>
                            <td>{{ song.subtitle }}</td>
                            <td class="show-for-large">{{ song.authors }}</td>
                            <td class="show-for-medium" >{{ song.year }}</td>
                            <td class="show-for-medium" >{{ song.tuning }}</td>
                            <td>
                                <router-link class="hollow button" :to="{name: 'show-song', params: {song_id: song['.key']}}">
                                    <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                                    <span class="show-for-large">Show</span>
                                </router-link>
                                <router-link class="button" :to="{name: 'edit-song', params: {song_id: song['.key']}}">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                    <span class="show-for-large">Edit</span>
                                </router-link>
                                <router-link class="alert button" :to="{name: 'delete-song', params: {song_id: song['.key']}}">
                                    <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                                    <span class="show-for-large">Delete</span>
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer>
                <router-link class="button" :to="{path: '/song/add'}" title="New Song">
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    <span class="show-for-large">Add </span> Song
                </router-link>
                <router-link class="button" :to="{path: '/setlist/add'}" title="New Setlist">
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    <span class="show-for-large">Add </span> Setlist
                </router-link>
            </footer>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- show a song -->
<template id="show-song">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>{{ song.title }}</h1>
                <p>{{ song.subtitle }}</p>
            </header>
            <div class="row">
                <div class="columns">
                    <pre>{{ song.content }}</pre>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="columns">
                    <p v-if="song.tuning">Tuning: {{ song.tuning }}</p>
                    <p v-if="song.authors">{{ song.authors }}</p>
                    <p v-if="song.ccli">CCLI Song number: <a :href="'https://songselect.ccli.com/Songs/' + song.ccli" target="_blank">{{ song.ccli }}</a></p>
                    <p>&copy; {{ song.year }} {{ song.publisher }}</p>
                </div>
            </div>
            <footer>
                <form v-on:submit.prevent="exportPdf" target="_blank">
                    <button type="submit" class="hollow button">
                        <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
                        PDF
                    </button>
                </form>
                <router-link class="hollow button" :to="{path: '/song/' + song['.key'] + '/fullscreen'}">
                    <i class="fa fa-arrows-alt fa-fw" aria-hidden="true"></i>
                    Fullscreen
                </router-link>
                <router-link class="secondary hollow button" :to="{path: '/'}">
                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    Back
                </router-link>
            </footer>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- show a song in fullscreen -->
<template id="show-song-fullscreen">
    <div class="container">
        <section class="fullscreen">
            <header>
                <h1>{{ song.title }}</h1>
                <p>{{ song.subtitle }}</p>
            </header>
            <div class="row">
                <div class="columns">
                    <pre>{{ song.content }}</pre>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="columns">
                    <p v-if="song.tuning">Tuning: {{ song.tuning }}</p>
                    <p v-if="song.authors">{{ song.authors }}</p>
                    <p v-if="song.ccli">CCLI Song number: <a :href="'https://songselect.ccli.com/Songs/' + song.ccli" target="_blank">{{ song.ccli }}</a></p>
                    <p>&copy; {{ song.year }} {{ song.publisher }}</p>
                </div>
            </div>
            <footer>
                <router-link class="secondary button" :to="{path: '/song/' + song['.key']}">
                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    Close
                </router-link>
            </footer>
        </section>
    </div>
</template>

<!-- add a song -->
<template id="add-song">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>New song</h1>
            </header>
            <form id="form" v-on:submit.prevent="createSong">
                <song-form-fields :song="song"></song-form-fields>
                <footer>
                    <router-link class="alert button" :to="{path: '/'}">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        Cancel
                    </router-link>
                    <button type="submit" class="button">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                        Create
                    </button>
                </footer>
            </form>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- edit a song -->
<template id="edit-song">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>Edit &raquo;{{ song.title }}&laquo;</h1>
            </header>
            <form id="form" v-on:submit.prevent="updateSong">
                <song-form-fields :song="song"></song-form-fields>
                <footer>
                    <router-link class="alert button" :to="{path: '/'}">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        Cancel
                    </router-link>
                    <button type="submit" class="button">
                        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                        Update
                    </button>
                </footer>
            </form>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- delete a song -->
<template id="delete-song">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>Delete &raquo;{{ song.title }}&laquo;</h1>
            </header>
            <div class="row">
                <div class="columns">
                    <p>Are you sure you want to delete &raquo;{{ song.title }}&laquo;?</p>
                    <div class="alert callout">
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This action cannot be undone!</p>
                    </div>
                </div>
            </div>
            <footer>
                <form v-on:submit="removeSong">
                    <router-link class="secondary hollow button" :to="{path: '/'}">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        Cancel
                    </router-link>
                    <button type="submit" class="alert button">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                        Remove
                    </button>
                </form>
            </footer>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- setlist list -->
<template id="setlist-list">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>Setlists</h1>
            </header>
            <div class="row medium-collapse small-collapse search">
                <div class="small-12 columns">
                    <input type="search" v-model="searchKey" placeholder="search for setlists" requred />
                </div>
            </div>
            <div class="row">
                <table class="hover">
                    <thead>
                        <tr>
                            <th width="200">Date</th>
                            <th width="200">Title</th>
                            <th width="225"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="setlist in filteredSetlists" :key="setlist['.key']">
                            <td>{{ setlist.date }}</td>
                            <td>{{ setlist.title }}</td>
                            <td>
                                <router-link class="hollow button" :to="{name: 'show-setlist', params: {setlist_id: setlist['.key']}}">
                                    <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                                    <span class="show-for-large">Show</span>
                                </router-link>
                                <router-link class="button" :to="{name: 'edit-setlist', params: {setlist_id: setlist['.key']}}">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                    <span class="show-for-large">Edit</span>
                                </router-link>
                                <router-link class="alert button" :to="{name: 'delete-setlist', params: {setlist_id: setlist['.key']}}">
                                    <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                                    <span class="show-for-large">Delete</span>
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer>
                <router-link class="button" :to="{path: '/song/add'}" title="New Song">
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    <span class="show-for-large">Add </span> Song
                </router-link>
                <router-link class="button" :to="{path: '/setlist/add'}" title="New Setlist">
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    <span class="show-for-large">Add </span> Setlist
                </router-link>
            </footer>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- show a setlist -->
<template id="show-setlist">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>{{ setlist.title }}</h1>
                <p>{{ setlist.date }}</p>
            </header>
            <div class="row">
                <div class="columns">
                    <table v-if="setlist.songs != ''" class="hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Lang</th>
                                <th>Tun</th>
                                <th>CCLI#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="songkey in setlist.songs">
                                <template v-for="song in songs">
                                    <template v-if="song['.key'] == songkey">
                                        <td>
                                            {{ song.title }} <span class="list-subtitle">({{ song.subtitle }})</span>
                                        </td>
                                        <td>
                                            {{ song.language }}
                                        </td>
                                        <td>
                                            {{ song.tuning }}
                                        </td>
                                        <td>
                                            <a :href="'https://songselect.ccli.com/Songs/' + song.ccli" target="_blank">{{ song.ccli }}</a>
                                        </td>
                                    </template>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>No songs selected.</div>
                </div>
            </div>
            <footer>
                <form v-on:submit.prevent="exportSongsheets" target="_blank">
                    <button type="submit" class="hollow button">
                        <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
                        PDF Songsheets
                    </button>
                </form>
                <form v-on:submit.prevent="exportSetlist" target="_blank">
                    <button type="submit" class="hollow button">
                        <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
                        PDF Setlist
                    </button>
                </form>
                <router-link class="secondary hollow button" :to="{path: '/setlists'}">
                    <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    Back
                </router-link>
            </footer>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- add a setlist -->
<template id="add-setlist">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>New Setlist</h1>
            </header>
            <form id="form" v-on:submit.prevent="createSetlist">
                <setlist-form-fields
                    :setlist="setlist"
                    :songs="songs"
                ></setlist-form-fields>
                <footer>
                    <router-link class="alert button" :to="{path: '/setlists'}">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        Cancel
                    </router-link>
                    <button type="submit" class="button">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                        Create
                    </button>
                </footer>
            </form>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- edit a setlist -->
<template id="edit-setlist">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>Edit &raquo;{{ setlist.title }}&laquo;</h1>
            </header>
            <form id="form" v-on:submit.prevent="updateSetlist">
                <setlist-form-fields :setlist="setlist" :songs="songs"></setlist-form-fields>
                <footer>
                    <router-link class="alert button" :to="{path: '/setlists'}">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        Cancel
                    </router-link>
                    <button type="submit" class="button">
                        <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                        Update
                    </button>
                </footer>
            </form>
        </section>
        <app-footer></app-footer>
    </div>
</template>

<!-- delete a setlist -->
<template id="delete-setlist">
    <div class="container">
        <app-header></app-header>
        <section>
            <header>
                <h1>Delete &raquo;{{ setlist.title }}&laquo;</h1>
            </header>
            <div class="row">
                <div class="columns">
                    <p>Are you sure you want to delete &raquo;{{ setlist.title }}&laquo;?</p>
                    <div class="alert callout">
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This action cannot be undone!</p>
                    </div>
                </div>
            </div>
            <footer>
                <form v-on:submit="removeSetlist">
                    <router-link class="secondary hollow button" :to="{path: '/setlists'}">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                        Cancel
                    </router-link>
                    <button type="submit" class="alert button">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                        Remove
                    </button>
                </form>
            </footer>
        </section>
        <app-footer></app-footer>
    </div>
</template>


<script type="text/javascript" src="src/config.js"></script>
<script type="text/javascript" src="src/app.js"></script>

<script>
// init sticky title bar
$(document).foundation();
$('.title-bar').on('sticky.zf.stuckto:top', function(){
    $(this).addClass('shrink');
}).on('sticky.zf.unstuckfrom:top', function(){
    $(this).removeClass('shrink');
});
</script>

</body>
</html>