@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, select, textarea {
    @apply transition-all !py-1.5 !border-blade-400 dark:!border-black focus:!ring-4 focus:!ring-spring-400/20 hover:!border-spring-400 focus:!border-spring-600 dark:!bg-blade-900 dark:!text-blade-100;
  }
  button, a {
    @apply transition-all;
  }
  kbd {
    @apply font-mono rounded bg-blade-500 dark:bg-blade-950 text-blade-200 px-2 py-1
  }

  @font-face {
    font-family: 'Fira Mono';
    src: url('./fonts/FiraMono-Regular.ttf');
    font-weight: 400;
  }
}

@layer components {
  .position-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.router-link-active:not(.no-active) {
  @apply bg-blade-300 dark:bg-blade-800
}
kbd > * {
  @apply align-middle
}
