@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

/* basic styles */
body,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira sans', sans-serif;
    /*font-weight: 300;*/
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
h1 {
    font-size: 2.5rem;
}
pre {
    font-family: 'Fira Mono', monospace;
}
input, textarea {
    font-weight: 300;
}
.button {
    vertical-align: text-bottom;
    margin: 0;
}

/* app container */
.container {
    position: relative;
    min-height: 100vh;
    background: #f1f1f1;
}

/* title bar */
.title-bar {
    width: inherit;
    height: 4rem;
    line-height: 4rem;
    transition: all .25s ease;
    padding: 0 1.5em;
}
.title-bar.shrink {
    height: 3rem;
    line-height: 3rem;
}
.title-bar a {
    color: #fff;
    text-transform: uppercase;
}
.title-bar .title-bar-right a {
    display: inline-block;
    padding: 0 1em;
    transition: all .25s ease;
}
.title-bar .title-bar-right a:hover {
    background: #222;
}

/* app header*/
.container > header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* app content */
.container > section {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5em;
}

/* app footer */
.container > footer {
    position: fixed;
    bottom: .5em;
    color: #fff;
    padding: 0 2em;
}

/* section header */
section > header {
    background: #222;
    color: #fff;
    padding: 5.5em 1em 1em 1em;
    margin-bottom: 1em;
    text-align: center;
}
section > header > h1,
section > header > p {
    margin: 0;
    text-transform: uppercase;
}

/* app content elements */
.content-column label {
    height: 100%;
}
.content-column textarea{
    height: calc(100% - 2.5rem);
    font-family: 'Fira Mono', monospace;
    font-size: .8rem;
    line-height: 1rem;
}

/* section footer */
section > footer,
section > form > footer {
    position: fixed;
    bottom: 0;
    height: 4.5em;
    width: 100%;
    background: #222;
    color: #fff;
    padding: .9em;
    text-align: right;
}

/* search */
.search {
    position: relative;
}
.search input {
    padding-left: 3em;
    height: 3rem;
    margin-top: -1em;
}
.search::before {
    position: absolute;
    left: 1rem;
    top: -.6rem;
    content: "\f002";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    color: #999;
    display: inline-block;
    text-decoration: inherit;
}

/* font awesome */
.fa-rm {
    margin-right: .5em;
}
