@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

/* basic styles */
body,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
h1 {
    font-size: 2.5rem;
}
pre, .pre {
    font-family: 'Fira Mono', monospace;
}
input, textarea, select {
    font-weight: 300;
}
.button {
    vertical-align: text-bottom;
    margin: 0;
}
:focus {
    outline: none;
}
::selection {
  background: #88b544;
  color: #fff;
}
.show-linebreaks {
    white-space: pre-line;
}
.input-group {
    height: 2.8em;
}
.input-group-button a,
.input-group-button button,
.input-group-button input {
    height: 2.7em;
    padding: 0.75em 1em;
}
.button-group {
    margin-bottom: 0;
}
.button-group .button {
    margin-right: 2px;
}
.button.hidden {
    border: 0 !important;
    background: transparent;
}
.button.hidden:hover {
    background: #111;
}
.link-cell {
    padding: 0;
}
.link-cell a {
    color: inherit;
    display: block;
    padding: .5rem .625rem .625rem;
}
.button-cell {
    padding: 2px;
}
.button-cell .button,
footer > .button-group > .button {
    font-size: 1.25rem;
}
.tm {
    margin-top: .5em;
}
.columns {
    /*overflow: hidden;*/
}
.loading {
    text-align: center;
    color: #777;
}
.callout > .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* app content container */
.container {
    position: relative;
    background: #f1f1f1;
    overflow: hidden;
}

/* title bar */
.title-bar {
    position: fixed;
    top: 0;
    width: inherit;
    height: 4rem;
    line-height: 4rem;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all .25s ease;
    padding: 0 1.5em;
}
.title-bar a {
    color: #fff;
    text-transform: uppercase;
}
.title-bar .title-bar-left a img {
    margin-right: 1em;
    padding-bottom: .5em;
}
.title-bar .title-bar-left a,
.title-bar .title-bar-right a {
    display: inline-block;
    padding: 0 1em;
    transition: all .25s ease;
}
.title-bar .title-bar-right a:hover {
    background: #222;
}
.title-bar .title-bar-right {
    flex: 2;
}

/* app header*/
.container > header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* app content */
.container > section {
    position: relative;
    min-height: 100vh;
    padding-bottom: 5em;
}

/* app footer */
.container > footer {
    position: fixed;
    bottom: 1em;
    color: #fff;
    padding: 0 2em;
}
.container > footer > p {
    margin: 0;
}

/* section header */
section > header {
    background: #222;
    color: #fff;
    padding: 5.5em 1em 1em 1em;
    margin-bottom: 1em;
    text-align: center;
}
section > header > h1,
section > header > p {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* app content elements */
.content-column {
    position: relative;
}
.content-column pre {
    margin-bottom: 1.8em;
    overflow: visible;
}
.content-column pre.verse {
    border-left: 1px solid #ccc;
}
.content-column pre.verse:before {
    background: #f1f1f1;
}
pre.verse {
    position: relative;
    padding-left: 1em;
    margin-left: .6em;
}
.verse::before {
    display: inline-block;
    position: absolute;
    left: -.45em;
    top: .35em;
    width: .8em;
    line-height: 1.3em;
    height: 1.15em;
    text-align: center;
    font-size: 2em;
    font-family: "Fira Sans";
    font-weight: 300;
}
.verse.part1::before {
    content: '1';
}
.verse.part2::before {
    content: '2';
}
.verse.part3::before {
    content: '3';
}
.verse.part4::before {
    content: '4';
}
.verse.part5::before {
    content: '5';
}
.verse.part6::before {
    content: '6';
}
.verse.part7::before {
    content: '7';
}
.verse.part8::before {
    content: '8';
}
.verse.part9::before {
    content: '9';
}

.content-column label {
    height: 100%;
}
.content-column textarea {
    height: calc(100% - 2.5rem);
    font-family: 'Fira Mono', monospace;
    font-size: .8rem;
    line-height: 1rem;
    overflow-x: scroll;
}

.song-form-fields textarea {
    font-size: .8rem;
}

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em;
    width: 3.5em;
    text-align: center;
    transition: all .25s ease;
}
.toolbar:hover {
    background: #aaa;
}
.toolbar a {
    text-transform: uppercase;
    font-family: 'Fira Mono', sans-serif;
    font-weight: 300;
}

/* section footer */
section > footer,
section > form > footer {
    position: fixed;
    bottom: 0;
    height: 3.75em;
    width: 100%;
    background: #222;
    color: #fff;
    padding: 2px;
    text-align: right;
}
section > footer > form {
    display: inline;
}

/* content footer */
section .footer {
    margin-top: 2em;
    font-size: .8em;
}

/* section fullscreen/presentation */
.container > .fullscreen,
.container > .presentation {
    background: #222;
    color: #eee;
}
.container > .fullscreen > header {
    padding: .8em 0 1em 0;
}
.container > .fullscreen h1 {
    margin: .2em 0 0 0;
}
.container > .presentation li h1 {
    margin: 1em 0 .5em 0;
}
.container > .fullscreen pre,
.container > .presentation li pre {
    margin-bottom: 1.8em;
    overflow: visible;
}
.container > .fullscreen pre.verse,
.container > .presentation li pre.verse {
    border-left: 1px solid #555;
}
.container > .fullscreen pre.verse::before,
.container > .presentation li pre.verse::before {
    background: #222;
}
.container > .fullscreen pre.textonly,
.container > .presentation li pre.textonly {
    font-family: "Fira Sans";
    font-size: 1.4em;
}
@media screen and (max-width: 63.9375em) {
    .container > .fullscreen .row:nth-child(2) .columns:first-child,
    .container > .presentation .row:nth-child(2) .columns:first-child {
        margin-bottom: 1.8em;
    }
}
@media screen and (max-width: 45em) {
    .container > .fullscreen pre,
    .container > .presentation li pre {
        font-size: 2.4vw;
    }
}
@media screen and (min-width: 64em) {
    .container > .fullscreen pre,
    .container > .presentation li pre {
        font-size: 1.1vw;
    }
    .container > .fullscreen .row,
    .container > .presentation li .row {
        margin: 0;
    }
}
.container > .fullscreen .footer,
.container > .presentation li footer {
    margin-top: 5em;
    font-size: .8em;
}
.container > .fullscreen .footer p,
.container > .fullscreen .footer a,
.container > .presentation li footer p,
.container > .presentation li footer a {
    color: #555;
    margin: 0;
}
.container > .fullscreen > footer,
.container > .presentation > footer {
    background: transparent;
}

/* search */
.search {
    position: relative;
    margin-top: -1em;
}
.search input {
    padding-left: 3em;
    height: 3rem;
}
.search::before {
    position: absolute;
    left: 1rem;
    top: .3rem;
    content: "\f002";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    color: #999;
    display: inline-block;
    text-decoration: inherit;
}

/* setlists */
.list-subtitle,
.list-tuning,
.list-popular {
    color: #777;
    font-weight: 300;
}
.list-item {
    position: relative;
    font-weight: 400;
}
.list-item-tuning {
    position: absolute;
    right: 3em;
}
.list-item-popular {
    position: absolute;
    right: 1em;
}
.list-item-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
    cursor: pointer;
    color: #777
}
.list-item-remove:hover {
    color: #c60f13;
}
.checklist {
    max-height: calc(85vh - 20rem);
    overflow-y: scroll;
}
.song-checklist {
    max-height: 5rem;
    overflow-y: scroll;
}

/* font awesome */
.fa-rm {
    margin-right: .5em;
}

/* Notyf (notifications) */
.notyf {
    bottom: 6em;
    right: 1.5em;
    width: 22em;
    opacity: .9;
}
.notyf__toast {
    padding: 0 13px;
}
.notyf__toast.notyf--confirm {
    background: #88b544;
}
.notyf__toast.notyf--alert {
    background: #c60f13;
}

/* orbit (slideshow) */
.orbit > nav {
    position: fixed;
    bottom: .5em;
    left: 2em;
    z-index: 1;
}
.orbit-container {
    height: calc(100vh - 6.3em) !important;
}
.orbit-container > button {
    height: inherit;
    width: 4em;
}
.orbit button,
.orbit-container {
    outline: 0;
}
.orbit-slide {
    padding: 0 4em;
}
@media screen and (max-width: 45em) {
    .orbit-slide {
        padding: 0 3em;
    }
}
.orbit-bullets button {
    transition: all .25s ease;
    background-color: #777;
}
.orbit-bullets button.is-active {
    background-color: #88b544;
}
.orbit-bullets button:hover {
    opacity: .5;
}

/* flatpickr */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: #88b544;
    color: #fff;
    border-color: #88b544;
}
.flatpickr-calendar {
    border-radius: 0;
}
.flatpickr-day {
    border-radius: 0;
}

/* devmount author link */
.devmount {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    margin-left: .2em;
    transition: all .3s;
    color: #777;
}
.devmount svg {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: -36px;
    transition: all .3s;
}
.devmount svg path {
    fill: none;
    stroke: #777;
    stroke-width: 12;
    stroke-linecap: round;
    transition: all .3s;
}
.devmount span {
    position: absolute;
    top: 0;
    right: -36px;
    font: inherit;
    color: transparent;
    transition: inherit;
}
.devmount:hover {
    opacity: 1;
    color: transparent;
}
.devmount:hover span {
    color: #fff;
}
.devmount:hover svg {
    right: 40px;
}
.devmount:hover svg path {
    stroke: #fff;
}

/* dropdown menu */
.dropdown.button {
    position: relative;
}
.dropdown-pane {
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 58px;
    border: none;
    padding: 0 1px 0 0;
    width: 210px;
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
.dropdown.button:focus {
    pointer-events: none;
}
.dropdown.button:focus .dropdown-pane {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.dropdown.button:focus:after {
    transition: transform .3s;
    transform: rotate(90deg);
}

/* Vue Multiselect */
.multiselect__tags {
    padding: 0;
    border: 0;
    background: initial;
}
.multiselect__select {
    z-index: 1;
    width: 30px;
}
.multiselect__content {
    border-radius: 0;
}

/* Vue Clock */
.clock {
    font-family: 'Fira Mono', monospace;
}